* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


/* Menu  */
nav {
    height: 30px;
    width: 100%;
    background-color: rgba(10%, 10%, 10%, .1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

nav ul li a {
    color: #555;
    cursor: pointer;
}

nav ul li a:hover {
    color: #222;
    text-decoration: none;
}



/* Header  */

header {
    position: relative;
    background-color: #29a6dc;
    height: 100vh;
    color: white;
    overflow: hidden;
    max-width: 1600px;
    margin: 0 auto;
}

header>* {
    position: absolute;

}

header div.welcome {
    top: 50%;
    width: 100%;
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

header p {
    font-size: 80px;
}

header h1 {
    font-size: 60px;
    width: 100%;
}

header h2 {
    font-weight: normal;
    font-size: 50px;
}

header button {
    line-height: 42px;
    font-family: 'Saira', sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-size: 24px;
    border: 2px solid white;
    padding: 0 10px;
    font-weight: 300;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.3s;
}

header button:hover {
    background-color: #fff;
    color: #29a6dc;
}

header .animation {
    position: absolute;
    top: 60px;
    left: 60px;
    animation: header 20s linear infinite;
    font-size: 20px;
}

@keyframes header {
    35% {
        left: calc(100% - 60px);
        top: 60px;
        /* right: 30px; */
    }

    55% {
        left: calc(100% - 60px);
        top: calc(100% - 60px);
    }

    85% {
        left: 60px;
        top: calc(100% - 60px);
    }

}

@media (max-width: 1023px) {
    header .animation {
        display: none;
    }
}




/* Section Features */

.features {
    max-width: 1600px;
    margin: 30px auto 0 auto;
    text-align: center;
    padding: 5% 2%;
}

.features h1 {
    font-family: 'Saira Semi Condensed',
        sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
}

.feature {
    float: left;
    width: 33.3%;
    padding: 10px;
}

.feature img {
    width: 100%;
    margin: 5px 0;
    max-width: 375px;
}

.feature h2 {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 21px;
}

.feature p {
    margin-top: 5px;
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    line-height: 120%;
    font-size: 16px;
    padding: 0 10px;
}

@media (max-width: 1023px) {
    .feature {
        width: 100%;
    }
}



/* Section Slogan */

.slogan {
    text-align: center;
    background-image: url(images/motto.jpg);
    background-size: cover;
    background-position: top center;
    color: white;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Saira', sans-serif;
}

.slogan .bg {
    padding: 30px 10px;
    background-color: rgba(0, 63, 114, .5);
    display: block;
    height: 100%;
}

.slogan h1 {
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 44px;
}

.slogan p {
    font-size: 30px;
    line-height: 1.8;
    margin: 50px 20% 10px 20%;
}

.slogan p.author {
    font-size: 34px;
    text-align: right;
    padding-right: 30px;
}

@media (max-width: 1023px) {
    .slogan h1 {
        margin-top: 150px;
    }
}


/* Section Slogan */

.hobby {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.hobby h2 {
    width: 100%;
    text-align: center;
    height: 20%;
}

.hobby .item {
    width: 50%;
    height: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-position: center;
    background-repeat: no-repeat;
}


.hobby .item:nth-of-type(1) {
    background-image: url(images/hobby1.jpg)
}

.hobby .item:nth-of-type(2) {
    background-image: url(images/hobby2.jpg)
}

.hobby .item:nth-of-type(3) {
    background-image: url(images/hobby3.jpg)
}

.hobby .item:nth-of-type(4) {
    background-image: url(images/hobby4.jpg)
}

.hobby h2 {
    padding: 30px 0;
    font-family: 'Saira', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
}

.hobby .item p {
    font-family: 'Saira Semi Condensed', sans-serif;
    color: white;
    text-align: center;
    padding: 5px 0;
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, .5);
    font-size: 20px;
    width: 100%;
    height: 100%;
    line-height: 40vh;
    opacity: 0;
}

.hobby .item:hover p {
    opacity: 1;
}

.hobby .item {
    background-size: 100%;
    transition: 1s;
}

.hobby .item:hover {
    background-size: 130%;
}


@media (max-width: 1023px) {
    .slogan h1 {
        margin-top: 150px;
    }
}


/* Section Contakt */

.contact {
    font-family: 'Saira Semi Condensed', sans-serif;
    background-color: black;
    padding: 30px 20px;
}

.contact form,
.contact .socials {
    float: left;
    width: 50%;
    padding: 0 20px;
}

.contact h1 {
    text-transform: uppercase;
    font-size: 60px;
    padding: 30px 0;
    color: white;
    text-align: center;
}

.contact .wrap {
    padding-top: 20px;
    max-width: 1600px;
    margin: 0 auto;
}

.contact input,
.contact button,
.contact textarea {
    margin-bottom: 25px;
    width: 100%;
    font-family: 'saira', sans-serif;
    padding: 5px;
    font-size: 24px;
}

.contact input {
    height: 46px;
}

.contact button {
    line-height: 50px;
    transition: 0.5;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.contact button:hover {
    background-color: white;
    color: black;
}

.contact textarea {
    height: 210px;
}

.contact .socials {
    padding-top: 30px;
    color: white;
    font-size: 0;
}

.contact .social {
    padding: 10px 0 10px 20px;
}

.contact .social img {
    float: left;
}

.contact .social span {
    line-height: 72px;
    padding-left: 20px;
    float: left;
    font-size: 20px;
}

.contact .social span a {
    text-decoration: none;
    color: white;
}